<?xml version="1.0"?>
<model>
  <name>red_cube</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Victor Gil Bernal</name>
    <email>gbvictor011@protonmail.com</email>
  </author>
  <description>Cubo rojo para la tarea de agarre.</description>
</model>