.git
.gitignore

build
install
log
datasets/
datasets
outputs/
outputs
training_logs

data/datasets/raw
data/datasets/processed
data/checkpoints
data/logs
data/videos

__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

.vscode
.idea

.gz
.ignition
.gazebo

.env
*.env

*.bag
*.db3
*.mcap

*.pt
*.pth
*.onnx
*.ckpt