<?xml version="1.0"?>
<model>
  <name>blue_goal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Victor Gil Bernal</name>
    <email>gbvictor011@protonmail.com</email>
  </author>
  <description>Meta azul para la tarea de colocación de cubos.</description>
</model>