<?xml version="1.0"?>
<model>
  <name>conveyor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Victor Gil Bernal</name>
    <email>gbvictor011@protonmail.com</email>
  </author>
  <description>Cinta transportadora para el spawn de objetos.</description>
</model>